.sort-products {
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  padding: 15px;
}

.sort-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.sort-options h6 {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sort-options select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.sort-options input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

.price-range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.price-range-labels span {
  font-size: 14px;
  color: #6c757d;
}

.apply-filters-btn {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */
  }
  
  .apply-filters-btn:hover {
    background-color: #0056b3;
  }
  .category-radio-buttons {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 15px;
  }

  .category-radio {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .category-radio input[type="radio"] {
    margin-right: 8px;
  }

  .category-radio label {
    margin-left: 5px;
    font-weight: 500;
    color: #333;
  }
